@page
@using ExploreRoskilde.Models
@model IndexModel
@{
    ViewData["Title"] = "Explore Roskilde";
}
<div class="text-center">
    <h1 class="display-4">Explore Roskilde</h1>
    <p>Explore Roskilde and its are with international students</p>

</div>



@foreach (Place place in Model.AllPlaces.Values)
{
    <div class="card my-2">
        <h5 class="card-header">@place.Category - ID: @place.Id</h5>
        <div class="card-body">
            <h5 class="card-title">@place.Title</h5>
            <p class="card-text">@place.Description</p>
            <p class="card-text">@place.Address</p>
            <a class="btn btn-primary" asp-page="Places/DetailsPage" asp-route-id="@place.Id">More info</a>
            <a href="#" class="btn btn-info">Update</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>

}

@*@foreach (User user in Model.AllUsers.Values)
{
    <h3>Name: @user.UserName</h3>
}*@