@page
@using ExploreRoskilde.Models
@model IndexModel
@{
    ViewData["Title"] = "Explore Roskilde";
}
<div class="text-center">
    <h1 class="display-4">Explore Roskilde</h1>
    <p>Explore Roskilde and its are with international students</p>

</div>

<form method="get">
    <div class="input-group">
        <input class="form-control" asp-for="Search">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
    <br />

    <label asp-for="Category" class="col-sm-3 control-label">
            <select asp-items="Html.GetEnumSelectList<Category>()" asp-for="Category" class="form-select">
                <option value="" selected>All categories</option>
            </select>
    </label>
</form>

<div class="row">
    

@foreach (Place place in Model.AllPlaces.Values)
{
    <div class="card mb-3 col-sm-6 col-12 p-0">
        @{
            if (!string.IsNullOrEmpty(place.ImageUrl))
            {
                <img src="@place.ImageUrl" class="card-img-top" alt="place image">
                
            }

        }
        <div class="card-body">
            <h5 class="card-title">@place.Title</h5>
            <p class="card-text">@place.Description</p>
            <p class="card-text">
                <small class="text-muted">@place.Address</small>
            </p>
            <a class="btn btn-primary" asp-page="Places/DetailsPage" asp-route-id="@place.Id">More info</a>
                        <a class="btn btn-info" asp-page="Places/UpdatePlace" asp-route-id="@place.Id">Update</a>
                        <a class="btn btn-danger" asp-page="Places/RemovePlace" asp-route-id="@place.Id">Delete</a>
        </div>
    </div>
}
</div>
