@page
@model ExploreRoskilde.RegisterModel
@{
    ViewData["Title"] = "CreatePizza";
}

<h1>Register</h1>
<form method="post">

    <div class="form-group">
        <label asp-for="@Model.User.Email" class="control-label">Email</label>
        <input asp-for="@Model.User.Email" class="form-control"/>
        <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.User.Name" class="control-label">Name</label>
        <input asp-for="@Model.User.Name" class="form-control" />
        <span asp-validation-for="@Model.User.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.User.Password" class="control-label">Password</label>
        <input asp-for="@Model.User.Password" class="form-control" />
        <span asp-validation-for="@Model.User.Password" class="text-danger"></span>

    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
