@page
@using ExploreRoskilde.Models
@model ExploreRoskilde.Pages.Places.AddPlace


@{
    ViewData["Title"] = "Add Place";
}
<h1>@ViewData["Title"]</h1>


<form class="form-horizontal" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    
    <div style="width:25%" class="form-group">
        <label asp-for="@Model.Place.Title" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Place.Title" type="text" class="form-control">
            <span asp-validation-for="@Model.Place.Title" class="text-danger"></span>
        </div>
    </div>
    <div style="width:25%" class="form-group">
        <label asp-for="@Model.Place.Description" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Place.Description" type="text" class="form-control">
            <span asp-validation-for="@Model.Place.Description" class="text-danger"></span>
        </div>
    </div>

    <div style="width:25%" class="form-group">
        <label asp-for="@Model.Place.Category" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <select asp-for="@Model.Place.Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control"></select>
            <span asp-validation-for="@Model.Place.Category" class="text-danger"></span>
        </div>
    </div>

    <div style="width:25%" class="form-group">
        <label asp-for="@Model.Place.Rating" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <select asp-for="@Model.Place.Rating" asp-items="Html.GetEnumSelectList<Rating>()" class="form-control"></select>
            <span asp-validation-for="@Model.Place.Rating" class="text-danger"></span>
        </div>
    </div>

    <div style="width:25%" class="form-group">
        <label asp-for="@Model.Place.Address.Street" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Place.Address.Street" type="text" class="form-control">
            <span asp-validation-for="@Model.Place.Address.Street" class="text-danger"></span>
        </div>
    </div>
    
    <div style="width:25%" class="form-group">
            <label asp-for="@Model.Place.ImageUrl" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="@Model.Place.ImageUrl" type="text" class="form-control">
                <span asp-validation-for="@Model.Place.ImageUrl" class="text-danger"></span>
            </div>
        </div>

    <div style="width:25%" class="form-group">
        <label asp-for="@Model.Place.Address.City" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Place.Address.City" type="text" class="form-control">
            <span asp-validation-for="@Model.Place.Address.City" class="text-danger"></span>
        </div>
    </div>

    <div style="width:25%" class="form-group">
        <label asp-for="@Model.Place.Address.Country" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Place.Address.Country" type="text" class="form-control">
            <span asp-validation-for="@Model.Place.Address.Country" class="text-danger"></span>
        </div>
    </div>

    <div style="width:25%" class="form-group">
        <label asp-for="@Model.Place.Address.Zipcode" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input asp-for="@Model.Place.Address.Zipcode" type="text" class="form-control">
            <span asp-validation-for="@Model.Place.Address.Zipcode" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="border-light">
                Add Place
            </button>
        </div>
    </div>
</form>