@page "{id}"
@using ExploreRoskilde.Models
@using Microsoft.AspNetCore.Http
@model ExploreRoskilde.Pages.Places.DetailsPage

@{
    ViewData["Title"] = Model.Place.Title;
    string username = HttpContext.Session.GetString("user");
    bool isLoggedIn = !String.IsNullOrEmpty(username);
}
<div class="card mb-5">
    @if (!String.IsNullOrEmpty(Model.Place.ImageUrl))
    {
        <img src="@Model.Place.ImageUrl" class="card-img-top" alt="image">
    }
    <div class="card-body">
        <h5 class="card-title"><b>Title:</b> @Model.Place.Title</h5>
        <p class="card-text"><b>Description:</b> @Model.Place.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Category:</b> @Model.Place.Category</li>
        <li class="list-group-item"><b>Address:</b> @Model.Place.Address</li>
        <li class="list-group-item"><b>Rating:</b> @Model.Place.Rating / 5</li>
        @if (isLoggedIn)
        {
            <form class="form-horizontal" method="post" asp-page-handler="@(Model.IsUserFavourite ?  "RemoveUserFavourites" : "AddUserFavourites")">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="@Model.IdPlace" value="@Model.Place.Id" type="text" hidden="hidden" class="form-control">
                <input asp-for="@Model.UserFavourites.Username" value="@username" type="text" hidden="hidden" class="form-control">
                <button type="submit" class="btn btn-success col-md-12">
                    @if (Model.IsUserFavourite)
                    {
                        <p>Remove from favourites</p>
                    }
                    else
                    {
                        <p>Add to favourites</p>
                    }


                </button>
            </form>
        }
        else
        {
            <li class="list-group-item">To work with the favourites functionality, you have to login first</li>
        }
    </ul>
</div>


<h2 class="my-4">Comments:</h2>

@{
    if (Model.Comments.Count == 0)
    {
        <h2 class="my-4">No Comments Yet :/</h2>
    }
}

<div class="row d-flex justify-content-between my-4">

    @{
       
        foreach (Comment comment in Model.Comments)
        {
            <div class="card text-dark bg-light mb-3 col-4 col-sm-12" style="max-width: 18rem;">
                <div class="card-header">@comment.CreatedAt</div>
                <div class="card-body">
                    <h5 class="card-title">Author: @comment.Username</h5>
                    <p class="card-text">@comment.Text</p>

                </div>
            </div>
        }
    }
</div>


<div class="my-3">


    @{
        if (!isLoggedIn)
        {
            <h3>To be able add comments, you have to login first</h3>
            <a class="btn btn-primary" asp-area="" asp-page="../Authentication/Login">Login</a>
        }
        else
        {
            <form class="form-horizontal" method="post" asp-page-handler="OnPost">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label asp-for="@Model.Comment.Text">What're you saying about this place?</label>
                    <div class="form-group">
                        <textarea asp-for="@Model.Comment.Text" type="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <span asp-validation-for="@Model.Comment.Text" value="" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <input asp-for="@Model.IdPlace" value="@Model.Place.Id" type="text" hidden="hidden" class="form-control">

                    </div>
                </div>


                <div class="form-group">

                    <button type="submit" class="btn btn-success col-md-12">
                        Add Comment
                    </button>
                </div>
            </form>
        }
    }
</div>